/.scripts/
/students_performance_monitoring/
/information/
/people/
/subjects/
/university_structure/
/users/
/.babelrc
/.gitignore
/1CExportToCSV.txt
/LICENSE
/Pipfile
/Pipfile.lock
/Procfile
/README.md
/SECURITY.md
/_config.yml
/db.sqlite3
/manage.py
/package-lock.json
/package.json
/requirements.txt
/runtime.txt
/webpack.config.js
/students_performance_monitoring/frontend/static/frontend/
