/* CSS */
//--raisin-black: hsla(228, 7%, 14%, 1);
//--eerie-black: hsla(228, 10%, 10%, 1);
//--davys-grey: hsla(228, 3%, 34%, 1);
//--quick-silver: hsla(228, 3%, 65%, 1);
//--caput-mortuum: hsla(4, 47%, 27%, 1);
//--international-orange-golden-gate-bridge: hsla(5, 57%, 48%, 1);
//--orange-red-crayola: hsla(5, 100%, 64%, 1);
//--sea-green: hsla(160, 99%, 27%, 1);
//--green-crayola: hsla(159, 100%, 35%, 1);
//--white: hsla(0, 0%, 100%, 1);

/* SCSS HEX */
$raisin-black: #202125ff;
$eerie-black: #16171bff;
$davys-grey: #535458ff;
$quick-silver: #a3a4a8ff;
$caput-mortuum: #662925ff;
$international-orange-golden-gate-bridge: #c24035ff;
$orange-red-crayola: #ff5446ff;
$sea-green: #018b5cff;
$green-crayola: #00b275ff;
$white: #ffffffff;

/* SCSS HSL */
$raisin-black: hsla(228, 7%, 14%, 1);
$eerie-black: hsla(228, 10%, 10%, 1);
$davys-grey: hsla(228, 3%, 34%, 1);
$quick-silver: hsla(228, 3%, 65%, 1);
$caput-mortuum: hsla(4, 47%, 27%, 1);
$international-orange-golden-gate-bridge: hsla(5, 57%, 48%, 1);
$orange-red-crayola: hsla(5, 100%, 64%, 1);
$sea-green: hsla(160, 99%, 27%, 1);
$green-crayola: hsla(159, 100%, 35%, 1);
$white: hsla(0, 0%, 100%, 1);

/* SCSS RGB */
$raisin-black: rgba(32, 33, 37, 1);
$eerie-black: rgba(22, 23, 27, 1);
$davys-grey: rgba(83, 84, 88, 1);
$quick-silver: rgba(163, 164, 168, 1);
$caput-mortuum: rgba(102, 41, 37, 1);
$international-orange-golden-gate-bridge: rgba(194, 64, 53, 1);
$orange-red-crayola: rgba(255, 84, 70, 1);
$sea-green: rgba(1, 139, 92, 1);
$green-crayola: rgba(0, 178, 117, 1);
$white: rgba(255, 255, 255, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #202125ff, #16171bff, #535458ff, #a3a4a8ff, #662925ff, #c24035ff, #ff5446ff, #018b5cff, #00b275ff, #ffffffff);
$gradient-right: linear-gradient(90deg, #202125ff, #16171bff, #535458ff, #a3a4a8ff, #662925ff, #c24035ff, #ff5446ff, #018b5cff, #00b275ff, #ffffffff);
$gradient-bottom: linear-gradient(180deg, #202125ff, #16171bff, #535458ff, #a3a4a8ff, #662925ff, #c24035ff, #ff5446ff, #018b5cff, #00b275ff, #ffffffff);
$gradient-left: linear-gradient(270deg, #202125ff, #16171bff, #535458ff, #a3a4a8ff, #662925ff, #c24035ff, #ff5446ff, #018b5cff, #00b275ff, #ffffffff);
$gradient-top-right: linear-gradient(45deg, #202125ff, #16171bff, #535458ff, #a3a4a8ff, #662925ff, #c24035ff, #ff5446ff, #018b5cff, #00b275ff, #ffffffff);
$gradient-bottom-right: linear-gradient(135deg, #202125ff, #16171bff, #535458ff, #a3a4a8ff, #662925ff, #c24035ff, #ff5446ff, #018b5cff, #00b275ff, #ffffffff);
$gradient-top-left: linear-gradient(225deg, #202125ff, #16171bff, #535458ff, #a3a4a8ff, #662925ff, #c24035ff, #ff5446ff, #018b5cff, #00b275ff, #ffffffff);
$gradient-bottom-left: linear-gradient(315deg, #202125ff, #16171bff, #535458ff, #a3a4a8ff, #662925ff, #c24035ff, #ff5446ff, #018b5cff, #00b275ff, #ffffffff);
$gradient-radial: radial-gradient(#202125ff, #16171bff, #535458ff, #a3a4a8ff, #662925ff, #c24035ff, #ff5446ff, #018b5cff, #00b275ff, #ffffffff);